commands:
  install-frontend:
    command: "cd ../frontend && npm install && npm run build "
  go-back:
    command: "cd ../api && npm install && npm run build && node dist/index.js"
  install nginx:
    command: "apt-get update && apt-get install -y nginx"
  run-nginx:
    command: "cd ../frontend && mv dist /usr/share/nginx/html && nginx -g 'daemon off;"
    