@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}



@media (hover: hover) {
  .card:hover,a:hover{
    background-color: hsla(254, 100%, 37%, 0.2);
    color:rgb(16, 104, 142);
    
  }
}

@media (min-width: 300px) {
  body {
    display: flex;
    place-items: center;
    background-color: #363945;
  }
  text

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

  .Title{
     
      //font-family: 'Inter';
      font-style: 'large';
      font-size: 36.56px;
      // line-height: 64px;
      // line-height: 100%;
      //right: 20px;
      color: #FFFFFF;
      margin : 5px;
      // Align: Left
      // Vertical align: Top
      
    
  }
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 2px 1px 1px rgba(98, 59, 166, 0.2);
    border-radius: 40.2719px;
    text-align: center;
    transition: 0.2s;
    display: block; 
    
    // margin-left: auto;
    // margin-right: auto;
    // width: 100%;
    margin: 10px;
    
 
  }
  .outer{
    box-shadow: 0px 100px 16px 0 rgba(134, 88, 214, 0.2);
    //border-radius: 40.2719px;
    
    text-align: center;
    transition: 0.2s;
    display: block; 
    //background-color: #FFFFFF;
    // margin-left: auto;
    // margin-right: auto;
    // width: 100%;
    margin: 10px;
  }
  .card_details
  {
    text-align: center;
    
  }
 
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0px 10px 16px 0 rgba(42, 22, 173, 0.901);
    cursor: pointer;
    
    border-radius: 49.2719px;
  }
  
  /* Add some padding inside the card container */
  // .container {
  //   padding: 1px 8px;
  // }
 

 
  .Details, label,text{
     
      
    position: relative;
    

   // font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    //font-size: 26.2783px;
    //line-height: 32px;
   // right: 15px;
    color: #FFFFFF;
  
}
input{
  box-sizing: border-box;

  //position: absolute;
  // width: 659.42px;
  // height: 75.55px;
  //left: 93px;
  // top: 876.31px;

  background: #363945;
  border: 4.10599px solid #D9D9D9;
  border-radius: 16.424px;
}

  p, button,input{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30.3843px;
    //line-height: 37px;
    margin: 10px;
    color: #FFFFFF;
  }// Button text style
  .regular-checkbox {
    box-sizing: border-box;

    //position: absolute;
    width: 36.95px;
    height: 32.85px;
    // left: 95px;
    // top: 998px;
    
    background: #363945;
    border: 2.46359px solid #D9D9D9;
    border-radius: 4.10599px;
  }
  // button{
  //   box-sizing: border-box;

  //   position: relative;
  //   // width: 40px;
  //   // height: 76px;
  //   align-items: center;
  //   // top: 1077px;

  //   background: #363945;
  //   border: 4.10599px solid #F9F9F9;
  //   border-radius: 16.424px;
  //   cursor:pointer;

  // }
  
  
  .container {
    //height: 200px;
    position: relative;
    //border: 3px solid #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 49.2719px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 100%;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
